body{
  background-image: url('../images/stardust/stardust.png')
}

::-webkit-input-placeholder {
   font-style: italic;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
   text-align: center;
}

:-ms-input-placeholder {
   font-style: italic;
   text-align: center;
}

#recent_tracks_form input{
  border: 0;
  outline: 0;
  color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  padding: 23px 6px;
  text-align: center;
}

.username-field{
  margin-right: 15px;
}

#recent_tracks_form .inputs{
  margin-bottom: 25px;
}

.form-row{
  margin-top: 80px;
}

.btn-rounded{
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
}

.btn-submit{
  padding: 18px !important;
  width: 60% !important;
  border: 5px solid white !important;
  color: white !important;
  font-size: 20px !important;
}

/* Loading */
#loading-row{
  text-align: center;
}

#loading-row #loading-text{
  font-size: 6em;
  margin-bottom: 30px;
}

#loading-row #loading-message{
  font-size: 2em;
}

/* Results Page */
#results-container{
  padding-top: 150px;
}

#results-container h1{
  text-align: center;
  color: lavender;
}

/* Track Lists */
ul.track-list{
  display: inline-block;
  list-style: none;
  width: 100%;
}

ul.track-list li{
  padding-bottom: 35px;
  font-size: 23px;
  border: 2px solid white;
  border-bottom: none;

  background-color: white;
  margin-bottom: 5px;
  color: black;
}

ul.track-list li:last-child{
  border-bottom: 2px solid white;
}

.artist .name{
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
  font-style: italic;
}

.artist .stats{
  margin-left: 20px;
  font-size: 24px;
}

